body {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  background: #333;
}

.container{
  background: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50dvh;
}

.main-content {
  text-align: left;
  grid-column: span 2;
  
}

.right-sidebar {
  text-align: left;
  grid-column: 3;
  background-color: white;
}

image{
  align-self: center;
}

footer {
  background: #333;
  text-align: center;
  height: 25dvh;
}

h1 {
  font-size: 1.1rem; 
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  margin-left: 1.5%;
  margin-top: 2dvh;
  margin-left: 3dvh;
}

p{
  margin: 2dvh;
}

header h1{
  border-bottom: 12dvh;
  margin-bottom: 12dvh;
  color: white;
}

main h1{
  color: black;
}

footer h1{
  text-align: center;
  color: white;
}

nav {
  width: 100%;
}

ul{
  margin: 0;
  padding: 0;
}

.navigation {
  list-style: none;
  display: flex;
  background-color: black;
  align-items: center;
}

.navigation li {
  flex: 1 1 auto; /* difference between auto and 100% flex-basis - turn on link borders to view */
}

.navigation a {
  display: block;
  color: #eee;
  padding: 1.2rem;
  text-decoration: none;
  text-align: center;
/* 	border: 1px dotted cyan; */
}

.navigation a:hover {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: yellow;
}
